

<div class="wrapper">
  <%= form_tag sessions_path do %>
    <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
    <%= password_field_tag :password, value="", :placeholder => "Password" %>

    <div class="actions">
      <%= submit_tag "Log in" %>
      <%= link_to "Reset Password", new_password_reset_path %>
    </div>
  <% end %>
</div>
